*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    display: flex;
}
form{
    width: 80%;
    margin: auto;
    height: auto;
    border: 1px solid black;
}
.checkout{
    width: 50%;
    border: 1px solid black;
    text-align: left;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="submit"],
textarea
{
    width:100%;
    margin: auto;
    padding: 8px;
    box-sizing: border-box;
}
label{
    font-size: 20px;
    line-height: 1.5;
}
