*{
    padding: 0px;
    margin: 0px;
}
body{
text-align: center;
position: relative;
}
a{
    text-decoration: none;
    color: black;
    padding: 5px;
    cursor: pointer;
}
.topnav>a>img{
    width: 5%;
    height: 80%;
}
/* -----------------------------Top Nav Bar en----------------------------- */
.botNav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 1;
    background-color: white;
}
#logo{
    width: 10%;
    height: 12vh;
}
#logo>a>img{
    padding-left:10%;
    width: 100%;
    height: 100%;
}
.botNav>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botNav>ul>li{
    padding: 10px;
}
.botNav>ul:last-child{
    margin-right: 2%;
}
.botNav>ul>li>a:hover{
    color: #217257;
}

#signUp>a{
    color: white;
    background-color: #1aa176;
}

/* ---------------------- Bottom Nav Bar ------------------- */
/* -------------------------plan section--------------------------------- */
.plansection{
    margin-top: 3%;
    text-align: center;
}
#planTable{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    color: #217257;
}
#planTable>div{
    width: 18%;
    overflow: hidden;
    margin: 5% 0%;
    cursor: pointer;
}
#planTable>div>img{
    width: 100%;
    border-radius: 25px;
}
.plansection>h1,.plansection>p{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 1%;
}
.plansection>h1{
    padding: 0% 5%;
    font-size: 3rem;
    font-family:'Favoritfreshly',sans-serif;
    text-align: left;
    padding-top: 1%;
    text-align: center;
}
.plansection>img{
    width: 5%;
    margin-top: 3%;
}
.plansection>button{
    padding:10px;
    color: white;
    font-family:'Favoritfreshly',sans-serif;
    font-size: 20px; 
    /* /* /* margin-bottom: 4%; */
    margin-top: 2%;
    background-color:#1aa176;
    border: none; 
}
/* -------------------------plan section--------------------------------- */
/* -----------------------------------------menuimg--------------------------- */
#menuImages{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
#menuImages>div{
    width:23%;
    cursor: pointer;
}
#menuImages>div>div{
    width: 100%;
    height:60%;
    margin:20% 0%;
    margin-bottom: 16px;
    border-radius: 20px;
    overflow: hidden;
    /* border: 1px solid black; */
}
#menuImages>div>div>img{
    width: 100%;
    height:100%;
    transition: 2s;
}
#menuImages>div:hover img{
    transform:scale(1.1);
}
#menuImages>div>p{
    display: inline;
    padding-right:10px;
}
#menuImages>div>p:nth-child(4),
#menuImages>div>p:nth-child(5){
    padding-left:10px;
    border-left:2px solid #1aa176;
}
.midMidSection>h1{
    padding: 0% 5%;
    font-size: 3rem;
    font-family:'Favoritfreshly',sans-serif;
    text-align: center;
    padding-top: 6%;
}
#menuImages>div>h3{
    margin-bottom: 5px;
}
/* ------------------pop up content-------------------- */
.popup{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    position: fixed;
    z-index: 2;
    justify-content: center; 
    font-family:'Favoritfreshly',sans-serif;
    display: none;
}
.popup-content{
    height: 90vh;
    width: 100vh;
    background-color: white;
    position: relative;
    top: 3%;
    text-align: left;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding-bottom: 20px;
}
.popupnav{
    width: 90%;
    margin:5% auto;
    position: sticky;
    top: 0px;
    background-color: white;
    padding-bottom: 2%;
}
.popup-img{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    flex: 0 0 auto;
}
.popup-img>img{
width: 100%;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.description{
    text-align: left;
    grid-area: 1/2/3/3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    line-height: 1.5;
    padding: 5px;
}

.popup-content h2 , .description h3{
    margin: 10px 0px;
}
.popup-content button{
    background-color: #1aa176;
    color: white;
    border: none;
}
.popup-content>img{
    width: 4%;
    position: sticky;
    top: 0;
    right: 6px;
    font-size: 20px;
    filter: grayscale(10)
}
