*{
    padding: 0px;
    margin: 0px;
}
.topnav{
    text-align: center;
    text-align: center;
}
body{
    position: relative;
}
a{
    text-decoration: none;
    color: black;
    padding: 5px;
    cursor: pointer;
}
.topnav{
    position: absolute;
}
.topnav>a>img{
    width: 5%;
    height: 80%;
}
/* -----------------------------Top Nav Bar en----------------------------- */
.botNav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top:0;
    z-index: 2;
    background-color: white;
}
#logo{
    width: 10%;
    height: 12vh;
}
#logo>a>img{
    padding-left:10%;
    width: 100%;
    height: 100%;
}
.botNav>ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botNav>ul>li{
    padding: 10px;
}
.botNav>ul:last-child{
    margin-right: 2%;
}
.botNav>ul>li>a:hover{
    color: #217257;
}

#signUp>a{
    color: white;
    background-color: #1aa176;
}

/* ---------------------- Bottom Nav Bar ------------------- */

.plansection{
    margin-top: 3%;
    text-align: center;
}
#planTable{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    color: #217257;
}
#planTable>div{
    width: 18%;
    overflow: hidden;
    margin: 5% 0%;
    cursor: pointer;
}
#planTable>div>img{
    width: 100%;
    border-radius: 25px;
}
.plansection>h1,.plansection>p{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 1%;
}
.plansection>h1{
    padding: 0% 5%;
    font-size: 3rem;
    font-family:'Favoritfreshly',sans-serif;
    text-align: left;
    padding-top: 1%;
    text-align: center;
}
.plansection>img{
    width: 5%;
    margin-top: 3%;
}
.plansection>button{
    padding:10px;
    color: white;
    font-family:'Favoritfreshly',sans-serif;
    font-size: 20px; 
    /* /* /* margin-bottom: 4%; */
    margin-top: 2%;
    background-color:#1aa176;
    border: none; 
}
/* --------------------------plan----------------------- */